@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ocean {
  height: 5%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGgAAAAKAQMAAABi7omzAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAAEtJREFUCNdjAIICIOYD4v//GT4wMPADWVCKD8zkhyphPAAU/Q+UYm4A6TJggAAeIIYohZoFUtqATDEkgEk2qBIZMGkBJkGGQYwGAgB9Iwz0jjacggAAAABJRU5ErkJggg==)
    repeat -50px;
  will-change: background-position, transform;
  height: 110%;
  width: 100%;
  display: block;
  position: relative;
  top: 0;
  animation: wave 3s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translate(0);
  }
}
